
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    margin: 20px; 
    text-align: left;
    padding: 2%;  
    margin-top: auto; 
    min-width: 320px; 
    max-width: 1280px; 
    margin: auto;
    } 

.whatsapp {
position: fixed;
bottom: 30px;
right: 30px; 
z-index: 9999;
}


.image {

display: flex;
padding: 10px;
width: 100%; 
flex-direction: column;
gap: 20px;


}

.plantas-container {

display: flex;
padding: 10px;
width: 100%; 
flex-direction: column;
gap: 20px;


}


h2 {text-align: center;
    padding: 30px;

}
header {
background-color: #288383;
color: #fff;
justify-content: space-around;
border-radius: 20px;
padding: 30px;


}

header h1 {
text-align: center;
padding: 20px;
}

header p {
text-align: center;
}


section {
margin-bottom: 20px;
}

section h2 {
margin-bottom: 10px; text-align: center; padding: 30px;
}


section p {
text-align: center; padding: 10px;
}

form {

margin: auto;
max-width: 500px; 

}

label {
display: block;
margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
width: 100%;
padding: 5px;
margin-bottom: 20px;
}

input[type="submit"] {
width: 30%;
padding: 10px;
background-color: #1a2e2e;
color: #fff;
border: none;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #75b6b6;
}

footer {
background-color: #288383;
color: #fff;
padding: 5px;
text-align: center;


}