body 

{ 
    background-color: #1e1e1e;
    font-family: Roboto, sans-serif; font-size: 12px;
    padding: 2%; 
    color: white;
    margin: 20px;
    margin-top: auto;
    min-width: 320px; 
    max-width: 850px; 
    margin: auto; 
    .header {
       text-align: left; font-size: 14px; color: aqua; padding-top: 1%;line-height: 2em;
     
    
}    
.header-imagem 
    {height: 240px; }
    
.contato 
{
   font-size: 24px; text-align: center; color: white; padding: 8%;}

}

.player {
  padding-top: 5%; width: 30%; height: 50px; 
}

  <!-- Início do formulário -->
  
<form>

 {
  margin: 0 auto;

}

input[type="text"], input[type="email"], input[type="tel"]
 {
  width: 100%; 
  padding: 20px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border-radius: 0px;
  text-align: left;
  
}
 
input[type="submit"] {
  background-color: yellow;
  color: #1e1e1e;
  padding: 20px 20px;
  margin:12px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0px;
 
  
}

input[type="submit"]:hover {
  opacity: 0.6;
}

img {width: 100%;}






.footer
{
    background-color: black;
    font-family: roboto; font-size: 8px; text-align: center;
    padding: 2%;
    
}


