body 

{ 
    background-color: #1e1e1e;
    font-family: Roboto, sans-serif; font-size: 12px;
    padding: 2%; 
    color: white;
    margin: 20px;
    margin-top: auto;
    min-width: 320px; 
    max-width: 800px; 
    margin: auto; 
    .header {
       text-align: center; font-size: 16px; color: aqua; padding-top: 1%;
     
    
}    
    .header-imagem {height: 240px; }
    
.contato {font-size: 24px; text-align: center; color: white; padding: 8%;}

}




  <!-- Início do formulário -->
  
<form>

 {
  margin: 0 auto;

}

input[type="text"], input[type="email"], input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border-radius: 90px;
  text-align: left;
  
}
 
input[type="submit"] {
  background-color: yellow;
  color: #1e1e1e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 90px;
 
  
}

input[type="submit"]:hover {
  opacity: 0.6;
}

img {width: 100%;}

.footer
{
    background-color: black;
    font-family: roboto; font-size: 12px; text-align: center;
    padding: 2%; 
    
}


